
# Ignore environment files
.env
.env.txt

# Ignore virtual environments
venv/
quantumconscious-env/

# Ignore temporary or cache files
__pycache__/
*.log

# Ignore Ngrok configuration
ngrok.yml
ngrok.yml.v2.bak
